.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.btn{
    padding: 1px 1px;
    cursor: pointer
}
.btn:hover{
    font-weight: bolder;
    color: yellow;
}

.text-center{
    text-align: center;
}